.item, .item--pink, .item--yellow, .item--green, .item--red, .item--orange, .item--blue {
  box-shadow: 1px 5px 15px #ccc;
  width: 15em;
  height: auto;
  border-radius: 3px;
  padding: 2em;
  margin: 1em;
  overflow: hidden;
  position: relative;
  flex: auto;
}
.item--blue {
  background: linear-gradient(-45deg, #92dce5 50%, rgba(255, 255, 255, 0.5) 50%);
}
.item--orange {
  background: linear-gradient(-45deg, #ef6f6c 50%, rgba(255, 255, 255, 0.5) 50%);
}
.item--red {
  background: linear-gradient(-45deg, #e84855 50%, rgba(255, 255, 255, 0.5) 50%);
}
.item--green {
  background: linear-gradient(-45deg, #70c1b3 50%, rgba(255, 255, 255, 0.5) 50%);
}
.item--yellow {
  background: linear-gradient(-45deg, #e8db7d 50%, rgba(255, 255, 255, 0.5) 50%);
}
.item--pink {
  background: linear-gradient(-45deg, #ff386d 50%, rgba(255, 255, 255, 0.5) 50%);
}
.item img, .item--blue img, .item--orange img, .item--red img, .item--green img, .item--yellow img, .item--pink img {
  max-width: 100%;
  height: auto !important;
  text-align: center;
}
.item_inner {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
}
.item_inner p {
  color: rgba(0, 0, 0, 0.566);
}
.item_inner button {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.566);
  border-radius: 3px;
  padding: 1em 3em;
  margin: 1em 0 0 0;
  background: none;
  cursor: pointer;
  transition: background ease-in 0.25s;
}
.item_inner button:hover {
  background: white;
  color: #2b2d42;
}
.item_inner button:before {
  font-family: FontAwesome;
  color: rgba(0, 0, 0, 0.566);
  position: absolute;
  font-size: 1.5em;
  margin: 0 -1.5em;
}
.item_inner button:hover:before {
  color: #2b2d42;
}
.item_overlay {
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-500px);
  opacity: 0;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.item_overlay h2 {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.2em;
  margin: 1em 0;
}
.item_overlay i {
  color: rgba(43, 45, 66, 0.7);
  font-size: 1.5em;
}
