.search-box {
  transition: width 0.6s, border-radius 0.6s, background 0.6s, box-shadow 0.6s;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #ebebeb;
}
.search-box::placeholder {
  font-size: 12px;
}
.search-box + label .search-icon {
  color: black;
}
.search-box:hover {
  color: white;
  background: #c8c8c8;
  box-shadow: 0 0 0 5px #3d4752;
}
.search-box:hover + label .search-icon {
  color: white;
}
.search-box:focus {
  transition: width 0.6s cubic-bezier(0, 1.22, 0.66, 1.39), border-radius 0.6s, background 0.6s;
  border: none;
  outline: none;
  box-shadow: none;
  padding-left: 15px;
  cursor: text;
  width: 300px;
  border-radius: auto;
  background: #ebebeb;
  color: black;
}
.search-box:focus + label .search-icon {
  color: black;
}
.search-box:not(:focus) {
  text-indent: -5000px;
}
#search-submit {
  position: relative;
  left: -5000px;
}
.search-icon {
  position: relative;
  left: -30px;
  color: white;
  cursor: pointer;
}
@media (max-width: 640px) {
  .search-box:focus {
    transition: width 0.3s ease-in-out, border-radius 0.3s ease-in-out, background 0.3s ease-in-out;
    width: 180px;
  }
  .search-box,
  .search-box[tabindex="0"] {
    width: 180px;
    cursor: text;
    outline: none;
  }
  .search-box[tabindex="0"]:placeholder {
    font-size: 12px;
  }
}
